<div class="project-header">
    {% if project.author == current_user %}
    <a class="btn btn-primary pull-right" href="{{ url_for('projects.edit_project', id=project.id) }}">Edit</a>
    {% elif current_user.is_admin %}
    <a class="btn btn-danger pull-right" href="{{ url_for('projects.edit_project', id=project.id) }}">Edit</a>
    {% endif %}
    <h2><a href="{{ url_for('projects.project', id=project.id) }}">{{ project.title }}</a></h2>
    <h3>{{ project.description }}</h3>
    <p>
        Created by <a href="{{ url_for('projects.user', username=project.author.username) }}">{{ project.author.username }}</a>
    </p>
</div>