{% extends "bootstrap/base.html" %}

{% block title %}Time Tracker{% endblock %}

{% block navbar %}
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Time Tracker</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated() %}
                    <li><a href="{{ url_for('users.user', username=current_user.username) }}">Profile</a></li>
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('projects.list') }}">Project List</a></li>
                            <li><a href="{{ url_for('projects.new_project') }}">Create New Project</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if not current_user.is_authenticated() %}
                    <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                {% else %}
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{ current_user.gravatar(size=18) }}"> {{ current_user.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('users.change_password') }}">Change Password</a> </li>
                        <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">

    {% with successes = get_flashed_messages(category_filter=['success']) %}
    {% if successes %}
    <div class="alert alert-success"><button type="button" class="close" data-dismiss="alert">&times;</button>
        {%- for msg in successes %}
            {{ msg }}
        {% endfor -%}
    </div>
    {% endif %}
    {% endwith %}

    {% with infos = get_flashed_messages(category_filter=['info']) %}
    {% if infos %}
    <div class="alert alert-info"><button type="button" class="close" data-dismiss="alert">&times;</button>
        {%- for msg in infos %}
            {{ msg }}
        {% endfor -%}
    </div>
    {% endif %}
    {% endwith %}

    {% with warnings = get_flashed_messages(category_filter=['warning']) %}
    {% if warnings %}
    <div class="alert alert-warning"><button type="button" class="close" data-dismiss="alert">&times;</button>
        {%- for msg in warnings %}
            {{ msg }}
        {% endfor -%}
    </div>
    {% endif %}
    {% endwith %}

    {% with errors = get_flashed_messages(category_filter=['error']) %}
    {% if errors %}
    <div class="alert alert-danger"><button type="button" class="close" data-dismiss="alert">&times;</button>
        {%- for msg in errors %}
            {{ msg }}
        {% endfor -%}
    </div>
    {% endif %}
    {% endwith %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}
